html {
    font-family: Arial;
    margin: 0 auto;
    width: 100%;
}

nav {
    align-items: center;
    background-color: red;
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
}

#list-container {
    padding: 0 4%;
}

.selected {
    border: 1px solid black;
    background-color: white;
}