html {
    font-family: Arial;
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

.form-container {
    text-align: center;
}

h1 {
    text-align: center;
}

table {
    width: 100%;
}

.error {
    color: red;
}

input {
    text-align: center;
    width: 100%;
}

img {
    border-radius: 50%;
}